
<div class="box">
  <h1>his best answer</h1>
</div>

<div class="dialog">
  <div class="my_question">
    <p><%= @answer  %></p>
    <p class="person"> - You</p>
  </div>
</div>
<div class="dialog">
  <div class="coach_answer">
    <p><%= @coach_answer  %></p>
    <p class="person"> - Your coach</p>
  </div>
</div>

<div class="box">
  <p class="again"><%= link_to 'Ask new question', ask_path %></p>
</div>




