<div class="box">
  <h1>ask something to your awesome coach</h1>
</div>


<form class="ask_question" action="/answer" method="get">
  <label for="question">Speak to your coach :</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input class="btn btn-primary" type="submit" value="Go on!">
</form>
